.px2-interview-article-member-profile{
	display: flex;
	font-size: 86%;
	margin: 0.5em 5%;

	&__image{
		width: 15%;
		margin-right: 5%;
		img{
			max-width: 100%;
			width: 100%;
			border: 3px solid #f93;
			border-radius: 50%;
		}
	}
	&__body{
		width: 80%;
	}
	&__name{
		font-weight: bold;
	}
	&__title{
		font-size: 86%;
		color: #999;
	}
	&__introduction{
		font-size: 86%;
		p, ul, ol, dl,
		h1, h2, h3, h4, h5, h6{
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}
}