<div class="px2-interview-article-interviewee-comment">
	{% if name %}<div class="px2-interview-article-interviewee-comment__name" style="color: {{ color }};">{{ name }}</div>{% endif %}
	{{ comment }}
</div>
